body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}

@media (orientation: portrait) {
  .container {
    --low: min(100vh, calc(16/9 * 100vmax));
    width: var(--low);
    height: calc(9/16 * var(--low));
  }
}
@media (orientation: landscape) {
  .container {
    --low: min(100vh, calc(9/16 * 100vmax));
    width: calc(16/9 * var(--low));
    height: var(--low);
  }
}
.square-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.square {
  aspect-ratio: 16 / 9;
  background: linear-gradient(90deg, rgba(249,246,46,1) 0%, rgba(155,19,227,1) 79%);
}
