body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  .container {
    --min: min(100vmin, calc(16/9 * 100vmax));
    width: var(--min);
    height: calc(9/16 * var(--min));
  }
}
@media (orientation: landscape) {
  .container {
    --min: min(100vmin, calc(9/16 * 100vmax));
    width: calc(16/9 * var(--min));
    height: var(--min);
  }
}
.square-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.square {
  aspect-ratio: 16 / 9;
  background: rosybrown;
}